<div class="table-data-container">

    @if (TableHeaders.Count == 0)
    {
        <p>Nothing to show</p>
    }
    else
    {
        <h2>TABLE NAME</h2>
        <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium"/>
        <MudSimpleTable FixedHeader="true" Dense="true" Hover="true" Bordered="true" Style="overflow-x: auto;">
            <thead>
            <tr>
                @foreach (var name in TableHeaders)
                {
                    <td>@name</td>
                }
                <td>Edit</td>
                <td>Remove</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in TableDataValues)
            {
                <tr>
                    @foreach (var item in row.Value)
                    {
                        <td>@item</td>
                    }
                    <td class="special-table-column"><MudIconButton Icon="@Icons.Material.Filled.ModeEdit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"/></td>
                    <td class="special-table-column"><MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"/></td>
                </tr>
            }
            </tbody>
        </MudSimpleTable>
    }
</div>

@code {
    private bool _hidePosition;
    private bool _loading;

    [Parameter]
    public List<string> TableHeaders { get; set; }

    [Parameter]
    public Dictionary<int, List<string>>? TableDataValues { get; set; }

}

